<div class="panel">
	<h1>Saving the Planet</h1>
	<p>A simple app to track and share your carbon footprint with others in your area.</p>
	<%= link_to "Available on the App Store", "#", :class => "button button-large" %>
	<%= link_to "Get it on the Play Store", "#", :class => "button button-large" %>
</div>

<hr>

<div class="row">
	<div class="large-8 columns">
		<h3>Feature Header</h3>
		<p>
		Vix doctus labores aliquando ea, has in zril timeam. Civibus officiis eu has. Te omnis intellegat est. Movet diceret verterem ut nec. Vix velit verterem reprehendunt cu, accumsan accusata ne mei.

Melius omnium id nam, vim atqui recusabo recteque te. Ut altera mentitum est, in suas perfecto mei, ei mea saepe reprimique. An qui nihil fuisset. Mei ut dolorem voluptaria vituperata, meis everti corrumpit id qui. Eam noster appellantur no.
		</p>
		<p><a class="" href="#" target="_blank">Learn more</a>.</p>
	</div>
	<div class="large-4 columns">
		<h3>About this app</h3>
		<p>This is just filler text really, stuff should be added here.</p>
	</div>
</div>
